################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bond/bin
/.vs/**
/Bond/obj
/nuget
*.suo
